@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Sofia+Sans:ital,wght@1,300&display=swap");
:root {
  --font-base: "Open Sans", sans-serif;

  --primary-color: #bcd9f5;
  --secondary-color: #313bac;
  --black-color: #030303;
  --white-color: #ffffff;
  --lightGray: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
}
body {
  margin: 0;
  font-family: var(--font-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.App {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 600;
}
p {
  text-transform: capitalize;
}
.head-text {
  text-transform: uppercase;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.card {
  width: 17rem;
  padding: 0.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  margin: 1rem;
  border-radius: 4px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
.overflow {
  overflow: hidden;
}
.card:hover,
.contacts__card:hover {
  transform: scale(1.1);
}
.box-size {
  max-width: 100%;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.p-text {
  text-align: justify;
}
.btn {
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #800040;
  cursor: pointer;
}
.btn:hover {
  background-color: #9c1458;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(20px);
  --webkit-backdrop-filter: blur(20px);
  z-index: 998;
}
.editor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
